/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.seid-formItem-columns2 {
  float: left;
  width: 50%;
}
.seid-formItem-submit {
  clear: both;
  padding-top: 10px;
  text-align: center;
}
