/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.seid-page-loader.spinning {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100000;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.85);
}
.seid-page-loader.spinning.hidden {
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 1s ease 0.5s, z-index 0.1s ease 1.5s;
  transition: opacity 1s ease 0.5s, z-index 0.1s ease 1.5s;
}
.seid-page-loader.spinning .loading-center {
  position: relative;
  width: 100%;
  height: 100%;
}
.seid-page-loader.spinning .loading-center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  -webkit-animation: loading-center-absolute 1s infinite;
          animation: loading-center-absolute 1s infinite;
}
.seid-page-loader.spinning .point {
  float: left;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 50% 50% 50% 50%;
}
.seid-page-loader.spinning .point-t {
  background-color: #2281f5;
  -webkit-animation: object_one 1s infinite;
          animation: object_one 1s infinite;
}
.seid-page-loader.spinning .point-r {
  background-color: #f53998;
  -webkit-animation: object_two 1s infinite;
          animation: object_two 1s infinite;
}
.seid-page-loader.spinning .point-b {
  background-color: #1d956c;
  -webkit-animation: object_three 1s infinite;
          animation: object_three 1s infinite;
}
.seid-page-loader.spinning .point-l {
  background-color: #d9761e;
  -webkit-animation: object_four 1s infinite;
          animation: object_four 1s infinite;
}
.seid-page-loader.spinning .point:nth-child(2n + 0) {
  margin-right: 0;
}
@-webkit-keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes loading-center-absolute {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes object_one {
  50% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
}
@keyframes object_one {
  50% {
    -webkit-transform: translate(20px, 20px);
            transform: translate(20px, 20px);
  }
}
@-webkit-keyframes object_two {
  50% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
}
@keyframes object_two {
  50% {
    -webkit-transform: translate(-20px, 20px);
            transform: translate(-20px, 20px);
  }
}
@-webkit-keyframes object_three {
  50% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
}
@keyframes object_three {
  50% {
    -webkit-transform: translate(20px, -20px);
            transform: translate(20px, -20px);
  }
}
@-webkit-keyframes object_four {
  50% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
}
@keyframes object_four {
  50% {
    -webkit-transform: translate(-20px, -20px);
            transform: translate(-20px, -20px);
  }
}
